<div class="ih-topbar">
    <nav class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
      <div class="uk-navbar-left">
        {{ page.branding }}
        {{ page.mainmenu }}
     {% include '@form3/includes/searchmenu.html.twig' %} 
      </div>
      <div class="uk-navbar-right">    
         <a class="uk-navbar-toggle uk-margin-large-right uk-hidden@l" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a> 
      </div>
    </nav>
</div>