<div class="ih-topbar">
  
	      <div class="uk-grid-collapse uk-child-width-expand@l" uk-grid>
	        {{ page.branding }}
	        {{ page.mainmenu }}
	      </div>
     
      <div class="uk-float-right">    
         <a class="uk-navbar-toggle uk-margin-large-right uk-hidden@l" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a> 
      </div>

</div>