<div class="ih-topbar">
 
         <a class="uk-navbar-toggle uk-margin-large-right uk-hidden@l uk-float-right" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a>
    
	      <div class="uk-grid-collapse uk-child-width-expand@l" uk-grid>
	      
	        {{ page.branding }}
	        {{ page.mainmenu }}
	                 
	      </div>
     


</div>